{% extends 'uskovapp/base.html' %}

{% block 'title' %}Контакты{% endblock %}

{% block 'content' %}
    <img class="profile-photo" src="http://cs10402.vk.me/u10826017/-6/y_60e95a7d.jpg" width="120px" alt="Мое фото">
    <h2>Михаил Усков</h2>
    <p>E-mail: <a href="mailto:uskovm@gmail.com">uskovm@gmail.com</a></p>
    <p>ВКонтакте: <a href="http://vk.com/michaeluskov">vk.com/michaeluskov</a></p>
    <p>Twitter: <a href="http://twitter.com/michaeluskov">twitter.com/michaeluskov</a></p>
    <p>Instagram: <a href="http://instagram.com/michaeluskov">instagram.com/michaeluskov</a></p>
{% endblock %}