{% extends 'uskovapp/base.html' %}
{% load staticfiles %}

{% block 'title' %}Голосования{% endblock %}

{% block 'head-extra' %}
    <link rel="stylesheet" href="{% static 'polls/css/polls.css' %}">
    <script type="text/javascript" src="{% static 'polls/js/polls.js' %}"></script>
{% endblock %}

{% block 'content' %}
{% if user.is_authenticated %}
        Вы на сайте под именем <b>{{ user.username }}</b>.
        <br>
        <a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a>
	<br>
{% else %}
	 Чтобы проголосовать, <a href="{% url 'login' %}?next={{ request.path }}">войдите на сайт или зарегистрируйтесь</a>.
{% endif %}
<hr class="polls-hr">
{% for poll in polls %}
<div class="polls-wrapper" id="polls-wrapper-{{ poll.pk }}">
<div class="left-top-corner"></div>
<div class="right-top-corner"></div>
<div class="left-bottom-corner"></div>
<div class="right-bottom-corner"></div>
<h3>{{ poll.text }}</h3>
<br>
{% if user.is_authenticated %}
	{% if poll.pk not in polls_user_voted %}
		{% for variant in poll.pollvariants_set.all %}
		<div id="polls-vote-{{ poll.pk }}-{{ variant.pk }}" class="polls-clickable-div">{{ variant.variant_text }}</div>
		{% endfor %}
	{% else %}
		<div id="polls-unvote-{{ poll.pk }}" class="polls-clickable-div">Снять голос</div>
	{% endif %}
{% endif %}
<br>
<img src="{% url 'polls_pic' poll.pk %}" id="polls-image-{{ poll.pk }}" alt="Результаты">
<div class="polls-loading-font" id="polls-loading-{{ poll.pk }}">
	<img class="polls-loading-img"  src="{% static 'polls/icons/loading.gif' %}" alt="Loading">
</div>
</div>
{% endfor %}

{% endblock %}