{% extends 'uskovapp/base.html' %}
{% load staticfiles %}

{% block 'title' %}Комментарии{% endblock %}

{% block 'head-extra' %}
    <link rel="stylesheet" href="{% static 'comments/css/comments.css' %}">
{% endblock %}

{% block 'content' %}
{% if user.is_authenticated %}
        Вы на сайте под именем <b>{{ user.username }}</b>.
        <br>
        <a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a>
	<br>
{% else %}
	 Чтобы проголосовать, <a href="{% url 'login' %}?next={{ request.path }}">войдите на сайт или зарегистрируйтесь</a>.
{% endif %}

{% endblock %}