<table class="views-table">
            <tr class="views-table-header">
                <td>Дата</td>
                <td>IP</td>
                <td>URL</td>
                <td>Браузер</td>
                <td>Разрешение</td>
            </tr>
{% for visit in visits %}
    <tr>
        <td>{{ visit.datetime|date:"d.m.Y H:i:s" }}</td>
        <td>{{ visit.ip }}</td>
        <td>{{ visit.url }}</td>
        <td>{{ visit.browser_name }} {{ visit.browser_version }}</td>
        <td>{{ visit.resolution }}</td>
    </tr>
{% endfor %}
</table>