{% extends 'uskovapp/base.html' %}
{% load staticfiles %}

{% block 'title' %}Статистика визитов{% endblock %}

{% block 'head-extra' %}
    <link rel="stylesheet" href="{% static 'views/css/views.css' %}">
{% endblock %}

{% block 'content' %}
    <div id="sessions-div" class="views-left-list">
        {% for session in sessions_list %}
            <p>{{ session.ip }} ({{ session.datetime|date:"j.m.Y H:i:s" }})</p>
        {% endfor %}
    </div>
    <div id='requests-div' class="views-right-list">
        <table class="views-table">
            <tr class="views-table-header">
                <td>Дата</td>
                <td>IP</td>
                <td>URL</td>
                <td>Браузер</td>
                <td>Разрешение</td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>
    <div class="clearer"></div>
{% endblock %}